<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.moying.energyring">

    <!-- service权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 拍照权限 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- shareSdk 分享权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <meta-data
        android:name="android.webkit.WebView.EnableSafeBrowding"
        android:value="true" />

    <!-- 6.0忽略电池优化 -->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <!-- 声明权限添加角标 -->
    <uses-permission android:name=" com.huawei.android.launcher.permission. CHANGE_BADGE" />

    <application
        android:name=".waylenBaseView.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ring"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeprice">

        <!-- android:theme="@android:style/Theme.NoTitleBar" -->
        <!-- &lt;!&ndash; android:name=".myAcativity.MainLogin" &ndash;&gt;LaunchActivity -->
        <activity
            android:name=".myAcativity.LaunchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeprice">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".myAcativity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeprice" />
        <activity
            android:name=".myAcativity.WelcomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.LoginRegister"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Energy.Energy_WebDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Pk.Pk_Daypk"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeprice" />
        <activity
            android:name=".myAcativity.Pk.pk_ZanRanking"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Pk.Pk_CheckIn"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Pk.Pk_Gui"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Pk.Committ.Leran_AllPerson"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Pk.Committ.Leran_AllHostory"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Pk.Committ.Leran_Goal"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Pk.Committ.Leran_TimeChoice"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Pk.Committ.Leran_Overview"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Pk.Committ.Leran_AllPersonDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Pk.Pk_DayPkAdd"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Pk.Pk_DayPkAdd_Project"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StaticData.ImagePickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialog" />
        <activity
            android:name=".myAcativity.RemindListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <!-- QQ和QQ空间分享 QQ登录的回调必须要配置的 修改后面的schemeID 为AppId -->
            <intent-filter>
                <data android:scheme="tencent1104987324" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".myAcativity.PostingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Find.FindSeekActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialog" />
        <activity
            android:name=".myAcativity.Find.FindRadioListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Find.Person_StopVideo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Find.Person_Play"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Find.Person_CountDownTimer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Find.Person_WeekChoice"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Find.Person_PlayVideoList"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".myAcativity.Find.AlarmReceiver"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.waylen.alarm.clock" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".myAcativity.Person.PersonMyCentertest"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeprice" />
        <activity
            android:name=".myAcativity.Person.PersonMyCenter"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeprice" />
        <activity android:name=".waylenBaseView.viewpagercards.MainActivity" />
        <activity
            android:name=".myAcativity.Person.Person_Notice"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Person.Person_Set"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Person.Person_Integral"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Person.Person_Data"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Person.Person_PiontsList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Person.PersonDeaft"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Person.Person_Shop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Person.person_Data_Edit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Person.Person_Relus"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Person.Person_Notice_NoticeList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Person.Person_Notice_Fans"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Person.Person_Notice_Nomm"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Person.Person_Notice_Like"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Person.Person_ShopDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Person.Person_ShopDetails_Adress"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Person.Person_Notice_Mes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Person.Person_Notice_Idea"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Person.Person_Notice_About"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Person.Person_Notice_JieShao"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Find.FindRadioListActivityTest"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Person.Person_Center_FansAndAtten"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Person.PersonMyCenter_Other"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Person.Person_Notice_AtMe"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Find.Find_WebDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Energy.myShareActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialog" />
        <activity
            android:name=".myAcativity.Find.ShareFindActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle" />
        <activity
            android:name=".myAcativity.Pk.JiFenActivity"
            android:theme="@style/MyDialog" />
        <activity
            android:name=".myAcativity.Find.Find_BannerDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Pk.Pk_DayPkAdd_More"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Pk.Pk_DayPkAdd_Project_More"
            android:screenOrientation="portrait" />

        <service
            android:name=".myAcativity.Person.Service.JobSchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".myAcativity.Person.Service.DaemonService"
            android:exported="true"
            android:process=":daemon">
            <intent-filter>
                <action android:name="android.intent.action.DaemonServiceClock" />
            </intent-filter>
        </service>
        <service
            android:name=".myAcativity.Person.Service.DaemonService$DaemonInnerService"
            android:exported="true"
            android:process=":DaemonInner" />

        <!-- 友盟统计 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5956507abbea83533a001a7b" />
        <!-- 自定义推广渠道ID 对应推广多渠道名 -->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <activity
            android:name=".myAcativity.Person.PersonPkHistoryLineView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Person.Person_LineView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Energy.SysNotice_Web"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Person.Person_ChangePhone"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Pk.Pk_AddSuccess"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Pk.Pk_Guide"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialog" />
        <activity
            android:name=".myAcativity.Energy.HasNewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme" />
        <activity
            android:name=".myAcativity.Person.setDataActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialog" />
        <activity
            android:name=".myAcativity.Pk.Pk_HuiZong"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Person.Person_Badge"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.WelcomeNew"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Person.Person_BadgeHas"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialog" />

        <!-- android:authorities="${applicationId}.provider" -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".myAcativity.Pk.Pk_FenRankList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Pk.Pk_DayPkDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Pk.Pk_AddReport"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialog" />
        <activity
            android:name=".myAcativity.Person.Person_Feedback"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Person.Person_Feedback_Posting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Person.Person_Feedback_Detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Pk.Pk_DayPKAdd_Project_Classification"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Pk.Pk_DayPKAdd_Project_Tab"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Pk.Pk_DayPkAdd_Project_TabSeek"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Pk.Pk_DayPk_Project_Detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Person.Person_Commendation"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialog" />
        <activity
            android:name=".myAcativity.Pk.Committ.Leran_Goal_Add"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Pk.Committ.Leran_Goal_Add_TabSeek"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Pk.Pk_DayPk_Project_Detail_RankAll"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Pk.Pk_AddReport_Succ"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialog" />
        <activity
            android:name=".myAcativity.Pk.Pk_HuiZong_Success"
            android:screenOrientation="portrait" />
        <activity android:name=".myAcativity.Pk.Pk_AddReport_Colock" />
        <activity
            android:name=".myAcativity.Person.Person_myShareActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialog" />

        <receiver
            android:name=".Recriver.MyReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_CLICK_ACTION" />
                <action android:name="cn.jpush.android.intent.CONNECTION" />

                <category android:name="com.moying.energyring" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".myAcativity.Pk.Pk_DayPkAdd_Project_Crate"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme" />

        <!-- com.moying.energyring.myAcativity.Person.Person_Zong -->

        <activity
            android:name=".myAcativity.Person.Person_Zong"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="com.moying"
                    android:scheme="waylen" />
            </intent-filter>
        </activity>
        <activity
            android:name=".myAcativity.Person.Person_Neng"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Pk.Training.startTrainingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Pk.Training.trainingCountDown"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Pk.Training.TrainingTodaySet"
            android:screenOrientation="portrait" />

        <service android:name=".myAcativity.Pk.Training.service.DownloadService" />

        <receiver android:name=".myAcativity.Pk.Training.utils.NetBroadcastReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".myAcativity.Pk.Training.Training_Posting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Person.Person_Exchange"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.Person.Person_Exchange_Detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.MainLogin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.MainLoginNext"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myAcativity.MainChangePhone"
            android:screenOrientation="portrait" />
        <activity android:name=".myAcativity.Person.Person_Task" android:screenOrientation="portrait"></activity>
        <activity android:name=".myAcativity.Energy.TaskShareActivity" android:screenOrientation="portrait"
            android:theme="@style/MyDialog"></activity>


    </application>

</manifest>